/* 画像の無駄な余白消す */
*{
     margin: 0px;
     padding: 0px;
    
}
body{
     background-color: #F0F0F0;
     
}
.img{
     width: 100%;
     height: 650px;
     object-fit: cover;
     display: block;
     position: relative;
}

.header-letter{
     position: absolute;
     top: 270px;
     left: 150px;
     color: white;
     font-size: 30px;
     opacity: 0.7;
}

h2{
     left: 400px;
}

.one{
    margin-left: 900px;
}

.contents{
     position: fixed;
     top: 0px;
     left: 0px;
     width: 100%;
     height: 50px;
     /* 要素の真ん中に表示 */
     line-height: 50px;
     /* px不要 */
     z-index: 100;
     background-color: #212529;
     font-family: 'Noto Sans JP', sans-serif;
}


li{
     list-style: none;
     color: #F0F0F0;
     float: left;
     margin-left: 20px;
     font-size: 20px;
}

.main-one{
     clear: both;
     width: 100%;
}



.first,.second,.forth{
     margin-left: 550px;
     padding-top: 100px;
     font-size: 50px;
}

.third{
     padding-top: 100px;
     margin-left: 570px;
     font-size: 50px;
}

.aaaa{
     margin-top: 50px;
     margin-left: 370px;
     font-size: 20px;
     font-weight: normal;
     width: 50%;
}

.king{
     color: blue;
}

.main-three{
     position: relative;
}

.box{
     margin-left: -150px;
     margin-top: 30px;
     position: relative;
     height: 250px;
     width: 900px;
     border: 1px solid black;
     border-radius: 10px;
     background-color: white;
}

.in{
     position: absolute;
     left: 530px;
     top: 1510px;
     font-size: 25px;
}

p{
     left: 400px;
     top: 1560px;
     position: absolute;
}

.langage{
    left: 500px;
    top: 1640px;
    font-size: 30px;
    position: absolute;
}

.in2{
     position: absolute;
     top: 1800px;
     left: 370px;
     font-size: 25px;
}

.in3{
     position: absolute;
     top: 1800px;
     left: 840px;
     font-weight: bold;
     font-size: 25px;
}

.contents2{
     position: absolute;
     left: 310px;
     top: 1870px;
     font-size: 30px;
     font-weight: bold;
}

.contents3{
     position: absolute;
     left: 820px;
     top: 1870px;
     font-size: 30px;
     font-weight: bold;
}

.sub{
    position: absolute;
    left: 870px;
    top: 1940px;
    
    
}


.box2{
    margin-left: 250px;
    margin-top: 30px;
    /* position: relative; */
    height: 200px;
    width: 440px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    float: left; 
}

.box3{
    margin-left: 710px;
    margin-top: 30px;
    /* position: relative; */
    height: 200px;
    width: 440px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
}



.container{
     margin-left: 370px;
     padding-top: 30px;
     padding-bottom: 30px;
     font-size: 20px;
}

footer{
     background-color: #212529;
     height: 100px;
     width: 100%;
}

span{
     color: red;
}

.q{
     color: #F0F0F0;
     text-decoration: none;
}

.q:hover{
      color: blue;
}

.two{
     margin-left: 520px;
}

.foot{
     margin-top: 50px;
}

.w{
     margin-top: 30px;
     font-size: 15px;
}

.t{
     color: #8C8C8C;
     top: 2360px;
     left: 580px;
     font-size: 10px;
}

